@import url("global.css") screen;

/**
 * slicease
 */

#slicer canvas {
	background-color: transparent;
}


/**
 * ol-status
 */

.ol-status {
	margin: 10px auto;
}

.ol-status ~ #playwrap, .ol-status ~ #chatwrap {
	margin: 0 auto;
}


/**
 * solutions
 */

.qr-code {
	width: 127px;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
}
@media only screen and (max-width: 800px) {
.qr-code {
	position: relative;
}
}

.samplewrap {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

.samplewrap #playwrap {
	width: 68%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000000;
}

.samplewrap #playwrap video {
	width: 100%;
	height: 100%;
}

.samplewrap #chatwrap {
	width: 30%;
	height: 100%;
	right: 0;
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 414px) {
.samplewrap #playwrap {
	width: 100%;
}

.samplewrap #chatwrap {
	width: 100%;
	position: relative;
}
}

.toolbar {
	margin: 10px auto;
}

.pe-skin-def .pe-contextmenu ul li a:hover:not(.btn):link {
	text-decoration: none;
}


/**
 * plan
 */

ul.plan {
	margin: 0 -15px 0 15px;
	padding: 0 15px;
	list-style-type: none;
}
ul.plan li {
	float: left;
	margin: 0 0 0 15px;
	width: 33.33%;
	text-align: center;
	border-top: 4px solid #454545;
	background: #242424;
}
ul.plan li.current {
	border-color: #0B7EF4;
}
ul.plan li:first-child {
	margin-left: -30px;
}
ul.plan li p {
	margin: 20px 10px;
	height: 3.6em;
	text-align: center;
	overflow: hidden;
}
ul.plan li .pricing {
	display: inline-block;
}
ul.plan li .pricing > * {
	float: left;
	line-height: 1em;
}
ul.plan li .pricing > strong {
	font-size: 30px;
	color: #FFFFFF;
}
ul.plan li .pricing > div {
	margin: 0 0 0 5px;
	height: 2em;
}
ul.plan li .btn {
	float: none;
	margin: 20px 0;
}

@media only screen and (max-width: 414px) {
ul.plan {
	margin: 0;
	padding: 0;
}
ul.plan li {
	float: none;
	margin: 15px 0 0 0;
	width: 100%;
}
ul.plan li:first-child {
	margin: 0;
}
}


/**
 * input-container
 */

.input-container {
	margin: 10px auto 40px;
	width: 100%;
	height: 28px;
	position: relative;
	overflow: hidden;
}
.input-container span {
	margin-right: 74px;
	display: block;
}
.input-container span input {
	padding: 2px 1%;
	width: 98%;
	height: 24px;
	line-height: 24px;
	background-color: #999999;
}
.input-container .btn {
	width: 40px;
	top: 0;
	right: 0;
	position: absolute;
}


/**
 * features
 */

.features, .features section {
	overflow: hidden;
}
.features section > span {
	float: left;
	margin-top: 20px;
	width: 50%;
}
.features section > span a {
	margin: 0 auto;
	padding: 14px;
	max-width: 400px;
	border-radius: 2px;
	display: block;
	overflow: hidden;
}
.features section > span a:not(.btn):link, 
.features section > span a:not(.btn):visited {
	color: #BDBDBD;
}
.features section > span a:active:not(.btn):link, 
.features section > span a:focus:not(.btn):link, 
.features section > span a:hover:not(.btn):link, 
.features section > span a:hover:not(.btn) {
	text-decoration: none;
	box-shadow: inset 0 0 0 1px #AAB4C8;
}
.features section > span a .img-container {
	float: left;
	margin-right: 14px;
	max-width: 100px;
}
.features section > span a .img-container img {
	width: 100%;
	height: 60px;
}
.features section > span a h4 {
	margin: 0 0 10px;
}

@media only screen and (max-width: 414px) {
.features section > span {
	width: 100%;
}
.features section > span a {
	text-align: center;
}
.features section > span a .img-container {
	float: none;
	margin: 0 auto;
}
.features section > span a h4 {
	margin: 10px 0;
}
}


/**
 * comment
 */

.comment section {
	border-top: 1px solid #555A64;
}
.comment form {
	padding: 40px 4%;
	width: 92%;
	color: #242424;
	background-color: #F2F5F9;
}
.comment .notes {
	margin: 0 0 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #555A64;
}

.comment .comment-item {
	margin-bottom: 10px;
}
.comment .comment-item label {
	font-family: Karbon, Helvetica, sans-serif;
}
.comment .comment-item input[type=text], .comment .comment-item input[type=email], 
.comment .comment-item input[type=url], .comment .comment-item textarea {
	padding: 2px 1%;
	width: 98%;
	height: 24px;
	line-height: 24px;
	border: none;
	box-shadow: 0 0 0 1px #c2c9d7;
}
.comment .comment-item textarea {
	padding: 6px 1%;
	height: 70px;
	line-height: 1;
	resize: none;
}

.comment .submit {
	margin-top: 20px;
	text-align: right;
}
.comment .submit i {
	margin-right: 10px;
	color: #242424;
}
.comment .submit .btn {
	padding: 10px 18px;
}